@page "/"

<PageTitle>Index</PageTitle>


<div class="center-container">
<h1>GetLost: A Hiker's Best Friend</h1>
</div>
<div class="center-container">
    <p>A place for hikers to see where to explore, and share it with the world.</p>
</div>

<div class="center-container">
    <div class="carousel-container">
        <div class="carousel-wrapper">
            <div class="carousel-slide">
                <img src="F:\ETSU_Fall_23\Server_Side\GetLostApp\GetLostApp\Shared\imgs\apptrail.jpg" alt="Appalachian Trail">
            </div>
            <div class="carousel-slide">
                <img src="F:\ETSU_Fall_23\Server_Side\GetLostApp\GetLostApp\Shared\imgs\grandteton.jpeg" alt="Grand Teton's'">
            </div>
            <div class="carousel-slide">
                <img src="F:\ETSU_Fall_23\Server_Side\GetLostApp\GetLostApp\Shared\imgs\horseshoebend.jpg" alt="Horseshoe Bend">
            </div>
            <div class="carousel-slide">
                <img src="F:\ETSU_Fall_23\Server_Side\GetLostApp\GetLostApp\Shared\imgs\pacificcrest.jpg" alt="Pacific Crest Trail">
            </div>
            <div class="carousel-slide">
                <img src="F:\ETSU_Fall_23\Server_Side\GetLostApp\GetLostApp\Shared\imgs\zion.jpg" alt="Zion National Park">
            </div>
           
        </div>
    </div>
</div>

<script src="F:\ETSU_Fall_23\Server_Side\GetLostApp\GetLostApp\wwwroot\js\carousel.js"></script>
