@page "/"

<PageTitle>Index</PageTitle>

<div class="center-container">
    <h1>GetLost: A Hiker's Best Friend</h1>
</div>

<div class="center-container">
    <p>A place for hikers to see where to explore, and share it with the world.</p>
</div>

<div class="center-container">
    <img class="square-image" src="imgs/gif.gif" />
 </div>